.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* min-height: 670px; */
  /* background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(62, 64, 110, 1) 100%
  ); */
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/gifnoise.gif);
  background-position: center;
  background-attachment: fixed;

  position: relative;

  min-height: 100vh;
  /* position: relative; */
}

.home-container::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: rgb(2, 0, 36); */
  /* background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(62, 64, 110, 1) 100%
  ); */
  background: #000;
  opacity: 0.9;
}
